<footer class="container-fluid">
    
    <div class="row s-10 justify-content-center">
        <!-- left side of the footer -->
        <div class="col-md-4 align-self-center">
            <p><b>Follow Us </b></p>
            <ul class="social">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    

    <!-- right side of footr -->
    <div class="col-md-6">
        <p><b>Title goes here</b></p>
        <ul class="footer-link">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <form method="GET" action="#">
            <input type="email" name="email address" placeholder="Email Address" required>
            <button type="submit">Subscribe Now!</button>
        </form>
    </div>
</footer>